/*Universal Styles*/

html {
  Font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  color: #404040;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {


}

#main-visuals {
  width: 60%;
  padding: 32px 24px;
}

#middle {
  text-align: center;
  font-weight: bold;
  padding: 32px 0 32px 0;
}

.course {
  background-color: #EEFF00;
}

.course-info {
padding: 16px;
}

h4 {
  padding: 16px 0;
}

.course-info p {
  padding: 8px 0;
}
/*Header*/

nav.header-container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

}

header nav div {
  display: flex;
  align-items: center;
}

 img.logo {
  height: 32px;
  margin-left: 24px;
}

nav span {
  height: 32px;
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li {
 padding-right: 16px;
}

nav .truncated-menu {
  display: flex;
  justify-content: space-between;
}

/*.truncated-menu img {
  padding: 20px;
}*/ /*For mobile*/

/*@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 1700px;) {
  .truncated-menu {
    display: none;
  }
}*/

/*Banner*/

.banner-container {
  background-color: #999900;
  margin: 0 auto;
}

.banner-info {
  display: block;
  float: right;
  position: relative;
  padding-right: 24px;
  bottom: 25rem;
}
/*Why does the left side of .info collapse? Should be 24px between image and element*/
/*Find a way to move .info down center of it's container*/

.banner-info h1 {
  font-weight: bold;
  line-height: 3.9;
}

p.start {
  color: white;
  padding: 8px 0;
  margin-top: 35px;
  line-height: 3.9;
  background-color: #404040;
  display: flex;
  justify-content: center;
}

/*Main Section*/

.main-content {
  display: flex;
  margin: 32px 72px;
}

.main-section {
  background-color: white;
  width: 700px;
  padding: 0 72px;
}

.main-section h1 {
  margin-bottom: 24px;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/*Learing Section*/

.learning-container {
  background-color: beige;
}

.courses {
  display: flex;
  /*flex-wrap: wrap;*/
  overflow: scroll;
}

.course {
  background-color: #FFFB80;
  padding-bottom: 24px;
  margin: 32px;
}
