/* Universal Styles */

html {
  font-family: 'Telex', sans-serif;
  font-size: 16px;
  color: #202020;
  /*background: url("./Resources/Images/Vintage-Wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/

  background-color: #AEE5E6;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {


}

h2, h4 {
  font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.left {
    width: 60%;
    padding: 2rem 1.5rem;
}

.left img {
  width: 100%;
}

img {
  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}

.right {
  width: 40%;
  padding: 2rem 0;
}

.right img {
  width: 35%;
}

h4 {
  padding: 1rem 0;
}


/* Header Section */

/*<div class="mobile" role="navigation">
        <a href="#"><img class="logo" src="resources/images/ic-logo.svg" alt="colmar logo"></a>
        <a href="#" title="On Campus"><img src="resources/images/ic-on-campus.svg" alt="on campus"></a>
        <a href="#" title="Online"><img src="resources/images/ic-online.svg" alt="online"></a>
        <a href="#" title="Login"><img src="resources/images/ic-login.svg" alt="login"></a>
      </div>*/


nav.header.container, .header-footer {
  color: white;
  width: 100%;
  height: 64px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303F40;
}


header nav div {
  display: flex;
  align-items: center;
}

 img.logo {
  height: 2rem;
  margin-left: 1.5rem;
}

nav span {
  height: 32px;
  display: flex;
  align-items: center;
}

.darken.text {
  color: #91BEBF;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li {
 padding-right: 16px;
 color: #AEE5E6;
}

/* Mobile */

.mobile {
  display: none;
}

/*nav .truncated-menu {
  display: flex;
  justify-content: space-between;
}

/*.truncated-menu img {
  padding: 20px;
}*/ /*For mobile*/

/*@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 1700px;) {
  .truncated-menu {
    display: none;
  }
}*/




/* Banner Section */

.banner .right {
  justify-content: center;
}

.banner.container {
  margin: 0 auto;
}

.darken-background {
  background-color: #91BEBF;
}

.banner-info {
  display: block;
  float: right;
  position: relative;
  padding-right: 1.5rem;
  bottom: 25rem;
}
/*Why does the left side of .info collapse? Should be 24px between image and element*/
/*Find a way to move .info down center of it's container*/

.banner .right h1, .banner .right h3 {
  margin: 1rem 5rem 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.button {
  color: white;
  height: 3rem;
  margin: 1rem 2rem 2rem 0;
  line-height: 2.9;
  background-color: #404040;
  border-radius: 4px;
  box-shadow: 5px 5px 4px teal;
  display: flex;
  justify-content: center;
}

/*button {
    margin: 1rem 5rem 1rem 1rem;
    height: 2rem;
    border-radius: 6px;
    box-shadow: 0 5px rgba(100, 100, 209, 0.7);
    transition: all 0.1s ease;
}*/

/* Information Section */

.info .right.column {
  border:
}

.info .left span {
  margin-top: 2rem;
  font-weight: bold;
}

.info-section {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
}

.info .info-section:first-child {
  padding-top: 0;
}

.details {
  width: 65%;
}

.details * {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.info.container h2 {
  margin: 2rem 0 1.5rem 0;
}


/* Course Container */

.courses {
    flex-direction: column;
    align-items: center;
}

.courses h2, .thesis h2 {
  padding-top: 2rem ;
  text-align: center;
}

.row-of-courses-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.row-of-courses-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.course {
  justify-content: center;
  border-radius: 4px;
  width: 25%;
}

.row-of-courses-one .course:nth-child(odd){
  background-color: #658586;
}

.row-of-courses-one .course:nth-child(2n+2){
  background-color: #f0ffff;
}

.row-of-courses-two .course:nth-child(2n+2){
  background-color: #658586;
}

.row-of-courses-two .course:nth-child(2n+1){
  background-color: #f0ffff;
}


.course img {
  width: 100%;
  height: auto;
}

.course-info {
padding: 1rem;
}

.course-info p {
  padding: 8px 0;
}

.course-info span {
  color: pink;
}

.course.one, .four {
  margin: 0 2rem 0 4.5rem;
}

.course.two, .five {
  margin: 0 2rem 0 0;
}

.course.three, .six {
  margin: 0 4.5rem 0 0;
}

/* Thesis Section */

.thesis {
  flex-direction: column;
  margin-bottom: 2rem;
}

.thesis-columns {
  display: flex;
  margin-top: 2rem;
}

.thesis .left .video {
position: relative;
bottom: 2rem;
}

video {
 width: 100%;
}

.thesis .right.column {
  padding: 0 0 0 0;
}

/* Footer */

/*footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

footer.header-footer {
  height: auto;
  color: #91BEBF;
}

footer span {
  padding: 1rem 1.5rem;
}
