/*Universal Styles*/

html {
  font-family: "Monsterrat", "Arial", sans-serif;
  font-size: 18px;
  color: #404040;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

body {


}

.container {
  background-color: #FFE5CC;
  margin: 0 auto;
}

/*Header*/

nav.container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header nav div {
  display: flex;
  align-items: center;
}

 img.logo {
  height: 32px;
  margin-left: 24px;
}

nav span {
  height: 32px;
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid blue;
}

.menu ul li {
 padding-right: 16px;
}

nav .truncated-menu {
  display: flex;
  justify-content: space-between;
}

/*.truncated-menu img {
  padding: 20px;
}*/ /*For mobile*/

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 1700px;) {
  .truncated-menu {
    display: none;
  }
}

.banner.container {
  padding: 32px 24px;
}

.banner.container img {
  width: 60%;
  border: 2px solid seagreen;
}

.banner.container h1,
p {
  float: right;
}

/*fix this*/
